/*Tayla Orsmond u21467456*/
/* Fonts */
@font-face {
    font-family: main;
    src: url("ZenKurenaido-Regular.ttf") format("truetype");
}
/* Vars */
*{
    margin: 0;
    padding: 0;
}
canvas{
    margin: 0;
    padding: 0;
}
/* Logo */
#logo{
    max-width: 700px;
    margin: 20px;
}
/* Scroll */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #131921;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #704560;
    border-radius: 10px;
}
/* Body */
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #131921;
    color: white;
    font-family: main, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
/* Container */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-img{
    margin: 20px 0;
    transition: all 0.5s;
}
.container:hover .cont-img:nth-child(1){
    transform: translate(100px)
}
.container:hover .cont-img:nth-child(2){
    transform: translate(-50px)
}
/* fade image in after load */
.lazyload,
.lazyloading {
	opacity: 0;
    transform: translateY(-50px);
}
.lazyloaded {
	opacity: 1;
    transform: translateY(50px);
	transition: all 1s 0.8s;
}
.hover{
    background-color: #d283b7;
    z-index: 100;
}
#hover1{
    width: 150px;
    height: 50px;
    position: absolute;
    right: 300px;
    bottom: 100px;
}
#hover2{
    width: 200px;
    height: 100px;
    position: absolute;
    right: 400px;
    bottom: 15px;
}
#hover3{
    width: 480px;
    height: 350px;
    position: absolute;
    right: 250px;
    bottom: 370px;
}
/* Span */
span{
    background-color: #704560;
    text-align: center;
    padding: 10px;
    color: black;
    box-shadow: none;
    border: 2px solid #131921;
    border-radius: 4px;
    transition: all 0.5s;
}
span:hover{
    cursor: pointer;
    background-color: #d283b7;
    box-shadow: inset 2px 2px #794466;
}
span img{
    height: 150px;
}